@import url("https://fonts.googleapis.com/css?family=Raleway:700,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;600&family=Playfair+Display:wght@600&display=swap');
/*----- VARIABLES CSS Y SASS -----*/
/*Varibles sass*/
/*Variables css*/
/*Colores*/
:root {
  --first-color: #D8DBE2;
  --second-color: #F2BF25;
  --text-color: #000;
  --white-color: #FFF;
}

/*Fuente y tipografia*/
:root {
  --body-font:'Raleway', sans-serif;
  --h2-font-size: 1.25rem;
  --big-font-size: 3rem;
  --normal-font-size: 0.93rem;
  --smaller-font-size: 0.75rem;
}

@media screen and (min-width: 768px) {
  :root {
    --h2-font-size: 2rem;
    --big-font-size: 6rem;
    --normal-font-size: 1rem;
    --smaller-font-size: 0.813rem;
  }
}

/*z index*/
:root {
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/*----- BASE -----*/
*, ::before, ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 3rem 0 0 0;
  font-family: var(--body-font);
  background-color: var(--first-color);
  color: var(--text-color);
  font-weight: 700;
  overflow: auto;

}

h1, h2 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*----- LAYOUT -----*/
.bd-grid {
  max-width: 1200px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-modal);
  background-color: var(--first-color);
}

/*----- PAGES -----*/
.nav {
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .nav__menu {
    position: fixed;
    top: 0;
    right: -100%;
    background-color: var(--white-color);
    width: 85%;
    height: 100vh;
    padding: .75rem;
    z-index: var(--z-modal);
    font-weight: 900;
    -webkit-transition: .5s;
    transition: .5s;
  }
}

.nav__close {
  text-align: right;
}

.nav__close-icon {
  font-size: 1.5rem;
  cursor: pointer;
}

.nav__list {
  text-align: center;
  padding-top: 2.5rem;
}

.nav__item {
  margin-bottom: 2.5rem;
}

.nav__link {
  padding: .5rem;
  color: var(--text-color);
  text-transform: uppercase;
}

.nav__link:hover {
  color: #575757;
}

.nav__logo {
  font-size: var(--normal-font-size);
  font-weight: 900;
  color: var(--text-color);
}

.nav__toggle {
  font-size: 1.5rem;
  cursor: pointer;
}

/*Aparecer menu*/
.show {
  right: -5%;
}

/*Cerrar menu*/
.hidden {
  right: -100%;
}

/*Home*/
.l-main {
  height: calc(100vh - 3rem);
}

.home {
  position: relative;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4fr;
      grid-template-columns: 1fr 4fr;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  z-index: var(--z-normal);
}

.home__title {
  position: absolute;
  top: 4%;
  left: 5%;
  font-size: var(--big-font-size);
  font-weight: 700;
  z-index: var(--z-fixed);
  /* cursor: pointer; */
}

.developer__text{
  font-size: var(--big-font-size);
  font-weight: 700;
  z-index: var(--z-fixed);
  /* cursor: pointer; */
}

.text__effect::before{
  content: attr(data-text);
  top: 0.1em;
  left: 0.1em;
  color: transparent;
  background-image: repeating-linear-gradient(
    135deg,
    transparent 0,
    transparent 2px,
    #ed0a8b 2px,
    #ed0a8b 4px
  );
-webkit-background-clip: text;
  background-clip: text;
  z-index: -1;
  -webkit-text-stroke: 2px #ed0a8b;
  transition: 0.5s;

}

.wave {
  animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;        /* Change to speed up or slow down */
  animation-iteration-count: infinite;  /* Never stop waving :) */
  transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}


.home__img {
  position: absolute;
  top: 10%;
  left: 22%;
  width: 235px;
  height: 353px;
  z-index: var(--z-tooltip);
}

.home__social {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;

          position: absolute;
          bottom: 0px;
          left: 0px;

}

.home__social-link {
  padding-bottom: 2rem;
  color: var(--text-color);
  font-size: var(--smaller-font-size);
}

.home__subtitle {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  padding-top: 2rem;
  padding-right: .5rem;
  font-size: var(--h2-font-size);
  font-weight: 900;
}

.home__button {
  position: absolute;
  right: -1rem;
  bottom: 0;
  padding: 1rem;
  background-color: var(--text-color);
  color: var(--white-color);
}

.home__button-icon {
  padding-left: 4.25rem;
}

/* .container{
  scroll-snap-type: y mandatory ;
  scroll-behavior: smooth;
  height: 100vh; 
} */

section {
  min-height: 100vh;
}

.two{
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__me{
  font-family: var(--body-font);
  color: black;
  font-size: var(--big-font-size);
  text-align: center;
}



.about__container{
  width: 80%;
  display: block;
  margin: auto;
  padding-top: 100px;
}

.about__section{
  float: left;
  width: 55%;
}

.image__section{
  float: right;
  width: 40%;
}

.image__section img{
  width: 100%;
  height: auto;
}

.about__content{
  text-align: center;
  font-size: var(--normal-font-size);
}

.about__section .about__content p{
  margin-top: 10px;
  font-size: var(--body-font);
  line-height: 1.4;
}

.about__section .about__content .button{
  margin-top: 30px;
  border-radius: 2rem;
}

.about__section .about__content .button a{
  background-color: #91f3e1;
  border: none;
  color: black;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 2rem;
  cursor: pointer;
}

.about__section .about__content .button a:hover{
  background-color: #49f3d4;
  color: black;
}


.three{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-family: var(--body-font);
}

.skills__wrapper{
  position: relative;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.skills__title{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.skills__title h1{
  position: relative;
  font-size: var(--big-font-size);
  margin: 30px;
}

.skills__content{
  position: relative;
  width: 300px;
  padding: 20px;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
}

.skills__content img{
  position: relative;
  width: 40px;
  height: 40px;
  padding: 10px;
  background: #eee;
  border-radius: 50%;
}

.skills__content h2{
  font-size: 18px;
  margin: 10px;
  text-transform: uppercase;
}

.skills__content p {
  font-size: var(--body-font);
  line-height: 1.4;
}


.four{
  position: relative;
  width: 100%;
}
.portfolio__container{
  padding-top: 5px;
  min-height: 100vh;
}

.portfolio__header h1{
  position: relative;
  font-size: var(--big-font-size);
  margin: 30px;
  text-align: center;
}

.filter{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.filter-btn{
  border: none;
  outline: none;
  background-color: transparent;
  margin: 0.45rem 0.4rem;
  padding:  0.85rem 1.8rem;
  color: black;
  text-transform: uppercase;
  font-weight: var(--normal-font-size);
  font-size: var(--normal-font-size);
  line-height: 1;
  cursor: pointer;
  border-radius: 2rem;
  transition: .3s;
}

.filter-btn.active{
  background-color: #49f3d4;
  color: black;
}

.grid{
  width: 100%;
  margin: 1.5rem 0;
}

.grid__item{
  width: 33.33%;
  padding: 1rem 1.2rem;
  display: flex;
  justify-content: center;
}

.gallery__image{
  position: relative;
  overflow: hidden;
  border-radius: 16px;
  height: 330px;
  width: 100%;
  cursor: pointer;
}

.gallery__image img{
  position: absolute;
  height: 115%;
  width: initial;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin:center;
  transition: 0.5s;
  object-fit: cover;
}

.gallery__image .img__overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  color: #49f3d4;
  background-color: rgba(120,76,254,0.55);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 2rem 3.2rem;
  opacity: 0;
  transition: .5s;
}

.img__overlay .plus{
  position: relative;
  margin: auto 0;
}

.plus:before, .plus:after{
  content: '';
  position: absolute;
  width: 4.5rem;
  height: 3px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 3px;
}

.plus::before{
  transform:  translate(-50%, -50%) rotate(-90deg);
}

.img__desc{
  width: 100%;
}

.img__overlay h3{
  font-weight: 600;
  text-transform: uppercase;
  font-size: var(--body-font);
}

.img__overlay h5{
  font-size: var(--smaller-font-size);
  font-weight: 300;
}

.gallery__image:hover .img__overlay{
  opacity: 1;
}

.gallery__image:hover img{
  transform: translate(-50%, -50%) scale(1.1);
}

.more__folio{
  display: flex;
  justify-content: center;
}
.Morebutton {
  background-color: #91f3e1;
  border: none;
  color: black;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 2rem;
  cursor: pointer;
}
.Morebutton:hover{
  background-color: #49f3d4;
  color: black;
}

.container{
  padding-bottom: 100px;
}

.five{
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact__title{
  position: relative;
  font-size: var(--big-font-size);
  margin: 30px;
  text-align: center;
}

.contact__container{
  width: 80%;
  display: block;
  margin: auto;
  padding-top: 10px;
  align-items: center;
  justify-content: center;
}

.contact__text{
  font-size: var(--body-font);
}

.contact__button{
  display: flex;
  justify-content: center;
}
.contact__btn{
  background-color: #91f3e1;
  border: none;
  color: black;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 2rem;
  cursor: pointer;
}
.contact__btn:hover{
  background-color: #49f3d4;
  color: black;
}


.footer {
  display: flex;
  flex-flow: row wrap;
  padding: 50px;
  color: #fff;
  background-color: #429485;
  }
  
  .footer > * {
  flex:  1 100%;
  }
  
  .l-footer {
  margin-right: 1.25em;
  margin-bottom: 2em;
  }
  
  h2 {
  font-weight: 400;
  font-size: 15px;
  }
  
  .footer ul {
  list-style: none;
  padding-left: 0;
  }
  
  .footer li {
  line-height: 2em;
  }
  
  .footer a {
  text-decoration: none;
  }
  
  .r-footer {
  display: flex;
  flex-flow: row wrap;
  }
  
  .r-footer > * {
  flex: 1 50%;
  margin-right: 1.25em;
  }
  
  .box a {
  color: black;
  }
  
  .b-footer {
  text-align: center;
  color: black;
  padding-top: 50px;
  }
  
  .l-footer p {
  padding-right: 20%;
  color: black;
  }   
  
  @media screen and (min-width: 600px) {
  .r-footer > * {
  flex: 1;
  }
  
  .features {
  flex-grow: 2;
  }
  
  .l-footer {
  flex: 1 0px;
  }
  
  .r-footer {
  flex: 2 0px;
  }
  }
  
/*----- MEDIA QUERIES -----*/
@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }
  .l-main {
    height: 100vh;
  }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 0;
  }
  .nav__item {
    margin-left: 3rem;
    margin-bottom: 0;
  }
  .nav__toggle, .nav__close {
    display: none;
  }
  .nav__link {
    text-transform: initial;
  }
  .home {
    -ms-grid-columns: 4fr 1fr;
        grid-template-columns: 4fr 1fr;
  }
  .home__title{
    top: 15%;
    left: 15%;
  }
  .home__img {
    width: 300px;
    height: 500px;
    top: 15%;
    left: 50%;
  }
  .home__social {
    padding-top: 5rem;
  }
  .home__social-link {
    padding-bottom: 3rem;
  }
  .home__subtitle {
    padding-top: 18rem;
    padding-right: 8rem;
  }
}

@media screen and (min-width: 1200px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }
}


@media screen and (max-width: 768px) {

  .home__title {
    top: 8%;
    left: 5%;
  }
  .developer__text{
    top: 32%;
    left: 5%;
  }
  .home__img {
    width: 250px;
    height: 400px;
    top: 20%;
    left: 25%;
  }
 
  .home__social {
    padding-bottom: 4rem;
  }
  .home__social-link {
    padding-bottom: 2rem;
  }
  .about__container{
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 25px;
  }

.about__section{
  float: none;
  width: 100%;
  display: block;
  margin: auto;
}

.image__section{
  float: none;
  width: 100%;
}

.image__section img{
  width: 100%;
  height: auto;
  display: block;
  margin: auto;
}

.about__me{
  text-align: center;
  font-size: 35px;
}

.about__section .about__content .button{
  text-align: center;
  padding:20px 20px;

}

.about__section .about__content .button a{
  padding:9px 30px;
  font-size: 15px;
}



}

@media (max-width: 1280px) {
.grid{
  margin: 0.8rem 0;
}
.grid__item{
  padding: 0.8rem;
}

.gallery__image{
  height: 250px;
  max-width: 325px;
}

.gallery__image .img__overlay{
  padding: 1.4rem 2rem;
}

.plus:before,
.plus:after{
  width: 2.8rem;
}

.img__overlay h3{
  font-size: 1.1rem;
}

.img__overlay h5{
  font-size: 0.8rem;
}

.filter-btn{
  padding: 0.6rem 1.45rem;
  font-size: 0.7rem;
}
}
@media (max-width: 850px) {
  .grid__item {
    width: 100%;
  }

  .gallery__image {
    height: 210px;
    max-width: 270px;
  }
}
@media (max-width: 600px) {
  .grid-grid__item {
    width: 100%;
  }
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px){
  .home__title{
    top: 20%;
    left: 15%;
  }
  .home__img {
    width: 350px;
    height: 600px;
    top: 20%;
    left: 50%;
  }
}


